:root {
    --yellowlight: rgb(255, 245, 108);
    --yellowdark: rgb(174, 173, 13);
    --bluelight:  rgb(38, 185, 200);
    --bluedark:rgb(4, 87, 160);
    --white: rgb(255, 255, 255);
    }
    
    /* CSS across all webpages*/
    
    .body {
        margin: 0px;
    }
    
    @font-face {
        font-family: "Spongebob";
        src: url("Spongeboy Me Bob.ttf");
        } /* css for the spongebob text, not to be used for body copy */
    
    h1 {
        font-family: "Spongebob";
    }

    .header {
        display: flex;
        background-color: var(--bluelight);
        padding: 30px;
    }
    
    .logo {
        margin: 10px;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        gap: 20px;
        font-family: fantasy;
        justify-content: space-between;
    }

    .navbar_link {
        font-size: 1.5rem;
    }
    
    .footer {
        margin-top: auto;
        padding: 20px;
        text-align: center;
        background-color: var(--bluelight);
    }
    
    
    /*Home Page*/

    .home-grid {
        display: grid;
        grid-template-columns: .5fr .5fr ;
        grid-template-rows: auto;
        grid-template-areas: 
        "header     header"
        "about      episodes"
        "characters ."
        "footer     footer"
        ;
    }

    .home-header {
        grid-area: header;
    }

    .home-about {
        grid-area: about;
        background-color: var(--yellowlight);
        border: 2px solid var(--bluedark);
        margin: 10px;
    }

    .home-episodes {
        grid-area: episodes;
        background-color: var(--yellowlight);
        border: 2px solid var(--bluedark);
    }

    .home-characters {
        grid-area: characters;
        background-color: var(--yellowlight);
        border: 2px solid var(--bluedark);
    }

    .footer {
        grid-area: footer;
    }

    
    /*About*/

    .about__header {
        padding: 20px 0px 20px 0px;
        text-align: center;
        margin: 20px 20% 0px 20%;
        background-color: var(--yellowlight);
    }

    .about__article__text {
        margin: 20px 20% 0px 20%;
    }

    .about__img {
        margin: 20px 20% 0px 20%;
        width: 550px;
        height: 266.5px;
        margin: auto;
        display: block;
        padding-top: 20px;
    }
    
    .about__references {
        margin: 20px 20% 0px 20%;
    }

    .about__references__header {
        margin: 20px 20% 0px 20%;
    }
    

    
    /*Characters*/
    .character_container {
        display: grid;
        grid-template-areas:
        "c-header"
        "cardcontainer"
        "c-footer";
        justify-content: center;
        column-gap: 15px;
        row-gap: 35px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .chara_header {
        grid-area: c-header;
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: var(--yellowlight);
    }

    .chara_header__title {
        font-size: 3rem;
    }

    .chara_card__container {
        display: grid;
        grid-area: cardcontainer;
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax 300px, 1fr);
        column-gap: 25px;
        row-gap: 35px;
        justify-self: center;
        justify-items: center;
    }

    .chara_card {
        width: 300px;
        border-radius: 3px;
    }

    .chara_card__img {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        width: 200px;
        height: 200px;
    }

    .chara_card__text {
        padding: 0 12px;
        font-family: 'Nunito';
        font-size: 20px;
    }

    .chara_footer {
        display: grid;
        grid-area: c-footer;
        align-items: center;
        justify-items: center;
    }
    
    
    /*Episodes*/
    
    .episodes {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    
    }
    
    
    .episodes_jumbotron {
        padding: 60px 0px 60px 0px;
        margin: 25px 20% 0px 20%;
        text-align: center;
        background-color: var(--yellowlight);
    
    }
    
    .episodes_article {
        margin: 0px 75px 40px 75px;
        background-color: var(--bluedark);
        color: aliceblue;
        padding: 5px 20px 5px 20px;
    }
    
    .episodes_article_header {
        text-align: center;
        margin: 25px 150px 25px 150px;
        padding: 20px;
        background-color: var(--yellowdark);
    }
    
    .episodes_article_subhead{
        
    }
    
    .episodes_article_text{
       
    }
    